/*****************************************
HOME PAGE TOP AREA IN THE MIDDLE
THIS INCLUDES THE BACKGROUND, IMAGE, AND NAME/TITLE
*****************************************/

#intro {
	background: url('../img/introbg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 90vh;
}

#circleBg {
	height: 35vw;
	width: 35vw;
	border-radius: 35vw;
	max-width: 280px;
	max-height: 280px;
	background-color: rgba(255,255,255,0.6);
	margin: 0 auto;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

#circleImage {
	height: 30vw;
	width: 30vw;
	border-radius: 30vw;
	max-width: 250px;
	max-height: 250px;
	background: url('../img/aman2.jpg') no-repeat;
	background-size: cover;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

#nameTitle {
	width: 80vw;
	height: auto;
	padding: 2vw 0 2vw 0;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

#nameTitle h1 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 3em;
	color: #fdfdfd;
	text-shadow: 0px 0px 2px #000;
}

#nameTitle h2 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 1.5em;
	color: #fdfdfd;
	text-shadow: 0px 0px 2px #000;
	font-weight: 100;
	padding: 5px 0 5px 0;
}

/*****************************************
COLUMNS FOR THE 3 STATEMENTS
*****************************************/
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	text-align: center;
	word-wrap: break-word;
}

.col h1 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 3.5vmin;
	color: #fdfdfd;
	font-weight: 100;
}

.col h2 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 4.75vmin;
	color: #fdfdfd;
	font-weight: 500;
	padding: 12px 0 12px 0;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*****************************************
CONTENT
*****************************************/

.entry-content { 
	width: 100%;
	margin: 0 auto;
}

.entry-content p {
	margin: 0 auto;
	max-width: 850px;
	font-family: 'Helvetica', sans-serif;
	line-height: 1.8vmax;
	padding: 12px 3% 12px 3%;
}

.projectItem h2,.projectItem h3{font-family:Roboto,sans-serif;color:rgba(21,21,21,.8)}#imageHolder,#projectDesc,#skillsUsed{float:left;height:inherit}.projectItem{width:100%;height:30vh;margin:0 0 5vh;background-color:rgba(248,248,248,.7)}.projectItem h2{font-size:3vmin;padding:20px 0 0 40px}.projectItem h3{font-size:2.5vmin;padding:10px 0 0 40px}#projectDesc,#skillsUsed ul{font-family:Roboto,sans-serif;font-size:2vmin;color:rgba(21,21,21,.7)}#imageHolder{overflow:hidden;border-radius:0 12vh 12vh 0;width:25%}.projectItem img{height:inherit;width:auto}#skillsUsed{width:25%}#skillsUsed ul{margin:0 0 0 65px;list-style:circle}#skillsUsed ul li{margin:6px 0 0}#projectDesc{width:50%;padding:40px 30px 40px 0;line-height:2.7vmin}#projectDesc p{padding-top:10px}.read-more{float:right}

/*****************************************
MEDIA QUERIES
*****************************************/

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 500px) {
	.col {  margin: 3% 0% 3% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
	#nameTitle h1 {
		font-size: 5em;
	}

	#nameTitle h2 {
		font-size: 3em;
	}  
	#intro {
		height: 85vh;
	}
	#circleBg {
		height: 50vw;
		width: 50vw;
		border-radius: 50vw;
		max-width: 350px;
		max-height: 350px;
	}
	#circleImage {
		height: 40vw;
		width: 40vw;
		border-radius: 40vw;
		max-width: 320px;
		max-height: 320px;
	}
}