

/*****************************************
HOME PAGE TOP AREA IN THE MIDDLE
THIS INCLUDES THE BACKGROUND, IMAGE, AND NAME/TITLE
*****************************************/

#intro {
	background: url('../img/introbg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 5vh;
	height: auto;
	position: relative;
	max-height: 250px;
}

#nameTitle {
	/*width: 80vw;*/
	/*height: auto;*/
	padding: 4vw 0 2vw 0;
	position: relative;
	top: 5vh;
	/*left: 10%;*/
	/*transform: translate(-50%, 0);*/
	text-align: center;
}

#nameTitle h1 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 4vmin;
	color: #fdfdfd;
	text-shadow: 0px 0px 3px #000;
}

/*#nameTitle h2 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 1.5em;
	color: #fdfdfd;
	text-shadow: 0px 0px 2px #000;
	font-weight: 100;
	padding: 5px 0 5px 0;
}*/

.wrapperAddition {
		background-color: #003b46;
	padding: 20px 0 20px 0;
}

/*****************************************
BLOG PAGE (home.php)
*****************************************/
.blog-post {
	padding: 4% 7% 4% 7%;
	background: #F4F7F7;
	border-radius: 2vmin;
	margin: 2% 0 2% 0;
}

.blog-post:hover {
	box-shadow: 1px 0px 10px rgba(0, 0, 0, .3);
}

.blog-post-text {
	font-size: 12pt;
	font-family: 'Helvetica', sans-serif;
	margin-top: 15px;
}

.blog-post-title {
	font-family: 'Arima Madurai', sans-serif;
	font-weight: 800;
	font-size: 3.2vmin;
	width: 100%;
	text-align: center;
	margin: 0;
}

.blog-post-meta {
	width: 100%;
	text-align: right;
	margin-top: 2%;
	font-family: 'Arima Madurai', sans-serif;
	font-size: 11pt;
}


/*****************************************
MEDIA QUERIES
*****************************************/

@media all and (max-width: 800px) {

	.blog-post {
		border-radius: 0;
		width: 100%;
	}

}
