

/*****************************************
HOME PAGE TOP AREA IN THE MIDDLE
THIS INCLUDES THE BACKGROUND, IMAGE, AND NAME/TITLE
*****************************************/

#intro {
	background: url('../img/introbg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 5vh;
	height: auto;
	position: relative;
}

#nameTitle {
	/*width: 80vw;*/
	/*height: auto;*/
	padding: 4vw 0 2vw 0;
	position: relative;
	top: 5vh;
	/*left: 10%;*/
	/*transform: translate(-50%, 0);*/
	text-align: center;
	font-size: 2.5vw;
}

#nameTitle h1 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 3em;
	color: #fdfdfd;
	text-shadow: 0px 0px 2px #000;
}

#nameTitle h2 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 1.5em;
	color: #fdfdfd;
	text-shadow: 0px 0px 2px #000;
	font-weight: 100;
	padding: 5px 0 5px 0;
}

.wrapperAddition {
		background-color: #003b46;
	padding: 20px 0 20px 0;
}

/*****************************************
WRAPPERS BASED ON PERCENTAGE
*****************************************/
.wrapper100 {
	height: auto;
	width: 100%;
	clear: both;
}

.wrapper80 {
	width: 80%;
	margin: 0 auto;
}
.wrapper90 {
	width: 90%;
	margin: 0 auto;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	width: 80vw;
	margin: 0 auto;
}

/*****************************************
BLOG PAGE (home.php)
*****************************************/
.blog-post {
	padding: 2% 2% 2% 2%;
	background: #F4F7F7;
	border-radius: 2vmin;
	margin: 2% 0 2% 0;
}

.blog-post:hover {
	box-shadow: 1px 0px 10px rgba(0, 0, 0, .3);
}

.blog-post-title {
	font-family: 'Arima Madurai', sans-serif;
	font-weight: 800;
	font-size: 18pt;
	width: 100%;
	text-align: center;
}


/*****************************************
MEDIA QUERIES
*****************************************/

@media all and (max-width: 800px) {

	.blog-post {
		border-radius: 0;
		width: 100%;
	}

}
