

/*****************************************
HOME PAGE TOP AREA IN THE MIDDLE
THIS INCLUDES THE BACKGROUND, IMAGE, AND NAME/TITLE
*****************************************/

#intro {
	background: url('../img/introbg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 5vh;
	height: auto;
	position: relative;
}

#nameTitle {
	/*width: 80vw;*/
	/*height: auto;*/
	padding: 4vw 0 2vw 0;
	position: relative;
	top: 5vh;
	/*left: 10%;*/
	/*transform: translate(-50%, 0);*/
	text-align: center;
	font-size: 2.5vw;
}

#nameTitle h1 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 3em;
	color: #fdfdfd;
	text-shadow: 0px 0px 2px #000;
}

#nameTitle h2 {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 1.5em;
	color: #fdfdfd;
	text-shadow: 0px 0px 2px #000;
	font-weight: 100;
	padding: 5px 0 5px 0;
}

.wrapperAddition {
		background-color: #003b46;
	padding: 20px 0 20px 0;
}

/*****************************************
WRAPPERS BASED ON PERCENTAGE
*****************************************/
.wrapper100 {
	height: auto;
	width: 100%;
	clear: both;
}

.wrapper80 {
	width: 80%;
	margin: 0 auto;
}
.wrapper90 {
	width: 90%;
	margin: 0 auto;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	width: 80vw;
	margin: 0 auto;
}

/*****************************************
MEDIA QUERIES
*****************************************/

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 500px) {
	.col {  margin: 3% 0% 3% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	#textLogo {
		font-size: 7vmin;
	}
	#nav span {
		font-size: 7vmin;
	}

		.realContent h1 {
		font-size: 4vmin;
	}
}

@media only screen and (max-width: 800px) {
	#nav span {
		font-size: 6vmin;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
	#nameTitle h1 {
		/*font-size: 5em;*/
	}

	#nameTitle h2 {
		font-size: 3em;
	}  
	#intro {
		/*height: 85vh;*/
	}
/*	#circleBg {
		height: 50vw;
		width: 50vw;
		border-radius: 50vw;
		max-width: 350px;
		max-height: 350px;
	}
	#circleImage {
		height: 40vw;
		width: 40vw;
		border-radius: 40vw;
		max-width: 320px;
		max-height: 320px;
	}*/
}



@media all and (max-width: 600px) {

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}